<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="utf-8">
	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	
	<title>Cadastro Prateleira OS</title>
</head>
<body>

	<h1>Cadastro Posição</h1>
	<form method="post">
		OS: <input type="text" value="" name="os">
		Posição: <input type="text" value="" name="posicao">
		
		
		
		
		<button type="submit">Salvar</button>
		<a href="/" class="btn btn-primary btn-sm">Cancelar</a>
	</form>

</body>

</html>