<!doctype html>
<html lang="pt-br"  xmlns="http://www.w3.org/1999/xhtml"
					xmlns:th="http://www.thymeleaf.org"
					xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
					xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Cadastro Prateleira OS</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">

<style>
.container {
	text-align: center; 
    width: 100%; 
    margin-left: auto;
    margin-right: auto; 
		}
		
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
}
</style>

</head>
<body style="background: #FFFFFF">
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    <!-- Cabeçalho Formulário -->
   <div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-5">
				<div class="card shadow-lg border-0 rounded-lg mt-5">
					<div class="card-header">
						<img class="mb-4" src="/image/logoContecmaster.png" alt="" width="85" height="75">
						<h3>CONTECMASTER</h3>
					</div>
					
					<!-- Formulário de Cadastro -->
					<div class="card-body">
						<form method="POST">
							<fieldset>			
								<div class="form-group">
									<label class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">OS:</label> 
									<input type="text" class="form-control py-4" name="os" placeholder="Digite a OS" required>
								</div>
								<div class="form-group">
									<label class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">Posição:</label> 
									<input type="text" class="form-control py-4" name="posicao" placeholder="Digite a posição" required>
								</div>
								<div class="form-group text-center">
									<button class="btn btn-outline-success my-2 my-sm-0 btn-lg" type="submit">Salvar</button>
									<a href="/" class="btn btn-outline-danger my-2 my-sm-0 btn-lg">Cancelar</a>									
								</div>
							</fieldset>	
						</form>
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
	</div>
	
	<!-- Rodapé -->
	<div class="footer">
		<footer class="py-2 bg-secondary mt-auto">
			<div class="container-fluid">
				<div class="d-flex align-items-center justify-content-between small">
					<div class="text-white">Posição OS</div>
					<div class="text-white">Contecmaster</div>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>